# [user]
	# email = joakim.jalap@gmail.com
	# name = Joakim Jalap

[core]
        excludesfile = ~/.gitignore

[push]
	default = current

[diff]
	tool = ediff
	guitool = ediff

[difftool "ediff"]
	cmd = ~/.ediff-sh/ediff.sh $LOCAL $REMOTE $MERGED

[merge]
	tool = ediff

[mergetool "ediff"]
	cmd = ~/.ediff-sh/ediff.sh $LOCAL $REMOTE $MERGED $BASE
	truetExitCode = true
